* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #373737;
  overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}
.sections {
  scroll-snap-type: y mandatory;
}

.page {
  height: 100vh;

  scroll-snap-align: start;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 48px;
}